<h1>Sign Up</h1>
<%= render partial: 'form' %>
<!-- Small modal -->
<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Connect Music Accounts</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
	    <div>
	      <button type="button" class="btn btn-primary btn-lg btn-block">
	      	Connect to Spotify
	      </button>
	    </div>
	    <br>
	    <div>
	      <button type="button" class="btn btn-primary btn-lg btn-block">
	      	Connect to Soundcloud
	      </button>
	    </div>
    </div>
  </div>
</div>
