
		<h1 class="page-header">Artists Matching <%= params[:search_keywords] %></h1>
		
		<table class="table">
        <tr>
           <th>Artists</th>
        </tr>
        <% @artists.each do |artist| %>
          <tr>
            <td><%= link_to artist.name, artist_path(artist.id, type: "artist") %></td>
          </tr>
          
        <% end %>  
      </table>
    


		<%= link_to "Back", :back %>
	
