<h1 class="page-header">Artists Matching <%= params[:search_keywords] %></h1>
<ul>
 <% @artists.each do |artist| %>
   <li id="artists_results"><%= link_to artist.name, artist_path(artist.id, type: "artist") %></li>
   <hr>
 <% end %>
</ul>


<%= link_to "Back", :back %>