<h1 class="page-header">Albums Matching <%= params[:search_keywords] %></h1>
<ul>
 <% @albums.each do |album| %>
   <li><%= link_to album.artists[0].name, artist_path(album.artists[0].id, type: "artist") %> | <%= link_to album.name, artist_path(album.id, type: "album") %></li>
 <% end %>
</ul>

<%= link_to "Back", :back %>