<h1>Users</h1>
<ul>
	<% @users.each do |user| %>
		<li><%= user.full_name %></li>
	<% end %>
</ul>


<br>

<iframe src="https://embed.spotify.com/?uri=spotify:trackset:test_playlist:3UO0N9CCedr5k3VpN8m9Q4,2Ykdg68oiLyTLMEDVby2DL,1gsgGMKLJy7AEKtqZpd4JH, 6pyex9B1kBoRIuabBAc4m8, 6KDG8vvFerlCU63IXdw1zb, 6csLL0MBNVIMx19PfsKsW7, 4hAUynwghvrqDXs1ejKNEq, 0AmAZBnbXW7Dq1ykCamvRl, 4zzXm1QJQXWLyUfFhWZBRg" frameborder="0" allowtransparency="true"></iframe>