<!-- <h2>User Profile</h2> -->
<div id="usershow">
	<div>
		<img id="userpic" src="<%= @user.image_url %>" width="150" />
		<div >
   			<%= @user.display_name %>
   		</div>
	</div>

	</div>
	
</div>