<!DOCTYPE html>
<html>
<head>
	<title>Muziqala</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<% if session['auth'] %>
			<li><a href="/sessions/show">Profile</a></li>
			<li><a href="/auth/logout">Logout</a></li>
		<% else %>
			<li><a href="/auth/facebook">Login via Facebook</a></li>
		<% end %>
	</ul>
</nav>


<%= yield %>

</body>
</html>
