

/*.nav_links {
	margin-top: 100px;
}*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*.search {
    margin: 5 auto 0 500px;
    overflow: auto;
    width: 1500px;
}*/
#icon {
	background: url("img_flwr.gif");
    background-size: 80px 60px;
    background-repeat: no-repeat;
    padding-top: 0px;
}
#sign_in {
	margin-top: 17px;

}
.navbar {
	margin-bottom: 0px ;
}
#spotify_icon {
	margin-top: -70px;
	margin-left: 78%;
}
#search_select {
	margin-top: 0px;
	height:2px;
	width:18px;
}
.search_select1 {
	height:20px;
}

#search_box {
	margin-left: 70px;
}
#submit {
	margin-left:100%;
	margin-top: -34px;
}
#full_search {
	margin-top: 20px !important;
}

#search {
	-webkit-appearance: menulist-button;
	height: 34px; 
	width: 73px;
	margin-top: 2px;
}
#pic1 {
	margin-top: -150px;
}
#pic2 {
	margin-top: -150px !important;
}
#profilebtn {
	margin-top: 17px;
}
#logoutbtn {
	margin-top: 17px;
}
#usernav {
  margin-bottom: -3px;
  margin-left: 88%;
  color: grey;
}
#navpic {
  float: right;
  width: 40px;
  margin-top: -17px;
  margin-right: 2%;
}
ul {
	 list-style-type: none;
}