<br>
<br>
<%= link_to "Back", :back %>

<p>
  <strong><%= @playlist.name %></strong>
</p>

<h2>Add songs to <%= "#{@playlist.name}" %>: </h2>

<% @tracks.each do |track| %>
	<iframe src="https://embed.spotify.com/?uri=spotify:track:<%= track.spotify_id %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    <br>
<% end %>