<h1 class="page-header">Song Titles Matching <%= params[:search_keywords] %></h1>
<ul>
 <% @tracks.each do |track| %>
   <li><%= track.name %> | <%= link_to "Show", artist_path(track.id) %></li>
 <% end %>
</ul>

<%= link_to "Back", :back %>